version: '2'

services:
  php-fpm:
    restart: always
    container_name: exchange-php-fpm
    build: docker/php-fpm
    volumes:
      - ./app:/app
      - ./logs/php-fpm:/logs
    env_file:
      - ./.env
    links:
      - mongo
    networks:
        docker0:
        ipv4_address: 172.17.0.5

  nginx:
    restart: always
    container_name: exchange-nginx
    build: docker/nginx
    ports:
      - "8089:80"
    volumes:
      - ./app:/app
      - ./logs/nginx:/logs
    links:
      - php-fpm
    networks:
        docker0:
        ipv4_address: 172.17.0.4

  mongo:
    restart: always
    container_name: exchange-mongo
    image: mongo:3.3
    ports:
      - 27018:27017
    volumes:
      - ./storage/mongo:/data/db
    networks:
        docker0:
          external: true
          ipv4_address: 172.17.0.7

  bower-builder:
    build: docker/nodejs
    volumes:
      - ./app:/app
    networks:
        docker0:
          external: true
          ipv4_address: 172.17.0.6
